<ion-content>
  <div class="custom-header">
    <div id="container">
      <ion-grid class="black-overlay ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-align-items-start">
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <ion-col size="8">
            <div class="user-details ion-margin-top">
              <ion-row class="avatar-row">
                <ion-avatar>
                  <img src="../../assets/images/user.png">
                </ion-avatar>
              </ion-row>
              <ion-row>
                <ion-label class="greeting-label">Good Afternoon</ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="name">Chu Ying, Rebecca</ion-label>
              </ion-row>
            </div>
          </ion-col>
          <ion-col>
            <ion-button class="notif-bell" onClick={}>
              <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
              <div>
                <ion-label>2</ion-label>
              </div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="policy-action-row ion-padding-bottom ion-padding-horizontal">
        <ion-row class="ion-align-items-center">
          <ion-col class="policy-action-item">
            <div>
              <img src="../../assets/icon/icon_fund.png">
              <ion-label>Manage ILAS Funds</ion-label>
            </div>
          </ion-col>
          <ion-col class="policy-action-item">
            <div>
              <img src="../../assets/icon/icon_claims.png">
              <ion-label>Claims</ion-label>
            </div>
          </ion-col>
          <ion-col class="policy-action-item">
            <div>
              <img src="../../assets/icon/icon_serving.png">
              <ion-label>Policy <br/> Servicing</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="ion-padding-vertical coverages-container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-text-center coverage-link" 
            routerLink="/all-policies"
            routerDirection="forward">
            <ion-label>Coverage from 4 Policies <ion-icon name="chevron-forward-outline"></ion-icon></ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col>
          <div class="policy-type">
            <img src="../../assets/images/icon_life.png">
            <ion-label class="title">Life</ion-label>
            <ion-label class="details">HKD 6,146,066</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="policy-type">
            <img src="../../assets/images/icon_crit.png">
            <ion-label class="title">Critical Illness</ion-label>
            <ion-label class="details">up to HKD 1,000,000*</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="policy-type">
            <img src="../../assets/images/icon_med.png">
            <ion-label class="title">Medical & Hosp.</ion-label>
            <ion-label class="details">up to: HKD 721,800/year,</ion-label>
            <ion-label class="details">HKD 600,000/disability</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div class="policy-type">
            <img src="../../assets/images/icon_accident.png">
            <ion-label class="title">Accident</ion-label>
            <ion-label class="details">up to HKD 1,000,000*</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="ion-text-center policy-notes ion-margin-vertical">
      <ion-label>*Additional coverages detailed in provision</ion-label>
    </div>
  </div>

  <div class="assets-container">
    <ion-item class="assets-data">
      <ion-label class="label">Assets</ion-label>
      <div slot="end" class="assets-value">
        <ion-label class="ion-text-right ion-margin-end supplementary-label">Total</ion-label>
        <ion-label class="ion-text-right value">HKD 255,309</ion-label>
      </div>
    </ion-item>
    <ion-item lines="none" class="breakdown">
      <ion-label class="label">Investement-Linked</ion-label>
      <ion-label class="ion-text-right value" slot="end">HKD 10,539</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" class="breakdown">
      <ion-label class="label">Savings</ion-label>
      <ion-label class="ion-text-right value" slot="end">HKD 161,688</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </div>
</ion-content>
