.ion-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.custom-header {
  background: url(../../assets/images/bg.jpg) 0 0/100% 100% no-repeat;
  background-size: cover;
  border-bottom-left-radius:40% 20%;
  border-bottom-right-radius:40% 20%;
}

#container {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius:40% 17%;
  border-bottom-right-radius:40% 17%;

  .user-details {
    .avatar-row {
      padding-bottom: 8px;
    }
  
    ion-avatar, ion-label {
      margin: auto;
    }

    ion-avatar { 
      border: white 2px solid;
      width: 50px;  
      height: 50px;  
    }
  
    .greeting-label {
      color: white;
      font-size: larger;
      font-family: 'Allura Regular';
      letter-spacing: -0.5px;
    }

    .name {
      color: white;
      font-size: larger;
      font-family: "Lexend Deca Regular";
      font-weight: bold;
    }
  }

  ion-menu-button {
    display: block;
    --color: white;
  }

  ion-button {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-color:  transparent;
    --box-shadow: none;
  }
}

.notif-bell {
  div {
    -webkit-flex: 1;
    flex: 1;
    position: absolute;
    top: 20%;
    right: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #B81F41;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-label {
      width: 100%;
      font-size: 8px;
      -webkit-flex: 1;
      flex: 1;
    }
  }
}

.policy-action-row {
  background-color: rgba(252, 203, 6, 0.9);
  border-bottom-left-radius:40% 40%;
  border-bottom-right-radius:40% 40%;
  box-shadow: 15px 2px 2px #FFEB9B;

  img, ion-label {
    margin: auto;
    --color: #114341;
    color: #114341;
    display: block;
  }

  .selected {
    color: var(--slf-black) !important;
    font-weight: bold;
  }

  img {
    margin-bottom: 4px;
    width: 30px;
    height: 30px;
  }

  ion-label {
    font-size: smaller;
    text-align: center;
  }

  div {
    vertical-align: text-bottom;
  }

  .policy-action-item {
    padding: 12px;
  }
}