<ion-content *ngIf="dashboardData | async as data">
  <div class="custom-header">
    <div id="container">
      <ion-grid class="black-overlay ion-padding-bottom">
        <ion-row>
          <ion-col class="ion-align-items-start">
            <ion-menu-button></ion-menu-button>
          </ion-col>
          <ion-col size="8">
            <div class="user-details ion-margin-top">
              <ion-row class="avatar-row">
                <ion-avatar>
                  <img src="../../assets/images/{{ data.user.userImage }}">
                </ion-avatar>
              </ion-row>
              <ion-row>
                <ion-label class="greeting-label">Good Afternoon</ion-label>
              </ion-row>
              <ion-row>
                <ion-label class="name">{{ data.user.lastName }}, {{ data.user.firstName }} {{ data.user.middleName }}
                </ion-label>
              </ion-row>
            </div>
          </ion-col>
          <ion-col>
            <ion-button class="notif-bell" onClick={}>
              <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
              <div>
                <ion-label> {{ notifCount(data.notifCount) }} </ion-label>
              </div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="policy-action-row ion-padding-bottom ion-padding-horizontal">
        <ion-row class="ion-align-items-center ion-padding-horizontal">
          <ion-col *ngFor="let nav of navs" class="policy-action-item ion-padding-horizontal">
            <div (click)="navigate(nav.id)">
              <img src="../../assets/icon/{{ nav.icon }}">
              <ion-label [class.selected]="activeView == nav.id">{{ nav.label }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <app-main-dashboard [userAssets]="data.assets" [userCoverage]="data.coverage" *ngIf="activeView == 0"
    (_toPoliciesPage)="toPoliciesPage()">
  </app-main-dashboard>
  <app-policy-servicing *ngIf="activeView == 3" (back)="back()"></app-policy-servicing>
</ion-content>