

.coverages-container {
    position: relative;
    overflow: hidden;
  
    ion-grid, .policy-notes {
      position: relative;
      z-index: 2;
    }
  }
  
  .coverages-container::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.05;
    background-image: url(../../../assets/images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .coverage-link {
    font-size: x-large;
    font-family: "Cutive Mono Regular";
    font-weight: 600;
    letter-spacing: -3px;
  
    ion-icon {
      vertical-align: middle;
    }
  }
  
  .policy-type {
    align-items: center;
    text-align: center;
  
    img {
      width: 60px;
      height: 60px;
    }
  
    .title {
      font-weight: 600;
      margin-bottom: 4px;
    }
  
    ion-label {
      display: block;
    }
  
    .details {
      font-size: smaller;
    }
  }
  
  .policy-notes {
    font-size: x-small;
    color: gray;
  }
  
  .assets-container {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0px -1px 12px #e3e3e3;
    flex: 1 1 auto;
    padding: 12px;
  
    .assets-data {
      .label {
        font-size: x-large;
        font-weight: 600;
        font-family: "Cutive Mono Regular";
        letter-spacing: -2px;
      }
    
      .assets-value {
        ion-label {
          display: inline;
        }
    
        .supplementary-label {
          font-size: smaller;
        }
    
        .value {
          font-size: small;
          font-weight: bolder;
        }
      }
    }
  
    .breakdown {
      .label {
        font-size: small;
      }
  
      .value {
        font-size: small;
        font-weight: bolder;
      }
    }
  }